*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclpse Setting
.settings/
.project
.classpath

# test lib
/lib/

# test bin
/bin/

# test info
src/main/resources/info/

# maven target
/target/


# Package Files #
*.jar
*.war
*.ear

# junit test file
src/test/java/pro/zhantss/lucene/test/Test.java
